<!doctype html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--width=device-width - это, чтобы работали адаптивные версии на всех мобильных устройствах, т.е. ширина по девайсу-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  Подключаем стили (CSS) Бутстрапа
    rel (от relationship) – это атрибут, описывающий тег href-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">

    <!--    Иконка сайта-->
    <link rel="icon" href="https://img.freepik.com/free-icon/leaf_318-654663.jpg">

        <title>Admin panel</title>
    </head>
    <body>

    <h1>Создание нового пользователя</h1>

    <form th:method="POST" th:action="@{/admin/create}" th:object="${user}">

        <label for="username"> Введите имя: </label>
        <input type="text" th:field="*{username}" id="username"/>
<!--        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Ошибка в имени</div>-->
        <br/>

        <label for="password"> Введите пароль: </label>
        <input type="text" th:field="*{password}" id="password"/>
<!--        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Ошибка в пароле</div>-->
        <br/>

        <label for="role">Роль 1 (ADMIN) или 2 (USER) ?</label>
        <input type="text" th:field="*{roles}" id="role">
<!--        <div style="color:red" th:if="${#fields.hasErrors('role')}" th:errors="*{roles}">Ошибка в выборе роли</div>-->
        <br/>

        <input type="submit" value="Создать"/>

    </form>

    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Выйти из системы"/>
    </form>


    <!--Подключаем JavaScript бутстрапа, включая Popper для позиционирования раскрывающихся списков,
    всплывающие сообщения и всплывающие подсказки. Размещается перед закрывающим тегом </body>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    </body>
    </html>