<!doctype html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--width=device-width - это, чтобы работали адаптивные версии на всех мобильных устройствах, т.е. ширина по девайсу-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  Подключаем стили (CSS) Бутстрапа
    rel (от relationship) – это атрибут, описывающий тег href-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">

    <!--    Иконка сайта-->
    <link rel="icon" href="https://img.freepik.com/free-icon/leaf_318-654663.jpg">

    <title>Admin panel</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/update/{id}(id=${user.id})}" th:object="${user}">
    <input type="hidden" name="_method" value="PATCH" />
    <div class="main block">

        <h3>Редактировать пользователя</h3>

        <div class="field">
            <label for="username">Имя</label>
            <input type="text" th:field="*{username}" id="username"/>
        </div>

        <div class="field">
            <label for="password">Пароль</label>
            <input type="text" th:field="*{password}" id="password"/>
        </div>
        <div class="field">

            <label>Роли:
                <input type="checkbox" name="roles"
                       th:each="role: ${userRoles}"
                       th:text="${role.getRole()}"
                       th:value="${role.getId()}"
                       th:field="*{roles}"/>
            </label>

        </div>

        <br/>
        <input type="submit" value="Внести изменения"/>
    </div>
</form>


<!--Подключаем JavaScript бутстрапа, включая Popper для позиционирования раскрывающихся списков,
всплывающие сообщения и всплывающие подсказки. Размещается перед закрывающим тегом </body>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>

</body>
</html>